@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&family=Quicksand:wght@400;500;700&display=swap");
:root {
  --primary: rgba(19, 125, 183, 1);
  --back-ground-main: rgba(99, 208, 255, 0.05);
  --blue-grey-900: rgba(36, 42, 51, 1);
  --blue-grey-600: rgba(90, 105, 128, 1);
  --blue-grey-500: rgba(108, 126, 153, 1);
  --blue-grey-400: rgb(126, 146, 178, 1);
  --blue-grey-300: rgba(144, 168, 204, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(36, 42, 51, 1);
  --theme-primary: rgba(78, 146, 249, 1);
  --font-size-text: 16px;
  --font-size-banner: 75px;
  --font-size-title: 40px;
  --font-size-title-2: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: var(--back-ground-main);
}
.img__default {
  position: relative;
  display: block;
  padding-bottom: 36%;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-bottom: 0px;
  transition: all 0.35s;
}
.img__default img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0;
}
/*header*/
.header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar {
  padding: 0;
}
.logo {
  width: 157.84px;
  padding: 15px 0;
}
.logo .img__default {
  padding-bottom: 31.68%;
}
.navbar-collapse {
  display: flex;
  justify-content: end;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--primary);
  font-size: var(--font-size-text);
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: var(--black);
  font-size: var(--font-size-text);
  line-height: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link:first-child {
  padding-left: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:last-child {
  padding-right: 0;
}
/*content*/
/* banner*/
.content {
  padding-top: 80px;
  overflow: hidden;
}
.banner {
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}
.banner::before {
  content: "";
  position: absolute;
  width: 1051px;
  height: 1051px;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  background: rgba(255, 221, 148, 0.11);
  filter: blur(100px);
  border-radius: 100%;
}
.banner::after {
  content: "";
  position: absolute;
  width: 573px;
  height: 573px;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  background: linear-gradient(
    165.74deg,
    rgba(255, 186, 39, 0.17) 10.13%,
    rgba(255, 222, 152, 0.17) 86.62%
  );
  filter: blur(100px);
  border-radius: 112px;
}
.banner__content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 150px 0 210px 0;
}
.banner__text {
  width: 80%;
}
.banner__text h1 {
  background: linear-gradient(
    112.77deg,
    rgba(19, 125, 183, 1),
    rgba(79, 224, 182, 1)
  );
  font-size: var(--font-size-banner);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100px;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
}
.banner__text p {
  width: 50%;
  font-size: var(--font-size-text);
  font-weight: 400;
  color: var(--blue-grey-600);
  line-height: 22px;
  margin-bottom: 50px;
}
.banner__text a {
  padding: 7px 22px;
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 2px 2px 10px rgba(195, 129, 219, 0.5),
    5px 5px 15px rgba(78, 146, 249, 0.5);
  font-weight: 700;
  font-size: var(--font-size-text);
  line-height: 24px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}
.banner__images {
  position: absolute;
  top: 5%;
  right: 0;
  width: 55%;
}
.banner__images .img__default {
  padding-bottom: 90.5%;
}
.banner__partner {
  padding: 50px 0;
  position: relative;
}
.banner__partner::before {
  content: "";
  position: absolute;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(78, 146, 249, 0),
    rgba(195, 129, 219, 0.4),
    rgba(78, 146, 249, 0)
  );
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.banner__partner::after {
  content: "";
  position: absolute;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(78, 146, 249, 0),
    rgba(195, 129, 219, 0.4),
    rgba(78, 146, 249, 0)
  );
  bottom: 1px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.banner__partner .img__default {
  padding-bottom: 20%;
  object-fit: contain;
}
/*service*/
.service,
.team {
  position: relative;
  background-color: rgba(19, 125, 183, 0.07);
  padding-top: 31px;
}
.service::before {
  content: "";
  width: 239px;
  height: 239px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(78, 146, 249, 0) 0%,
    rgba(78, 146, 249, 0.21) 100%
  );
  border-radius: 100%;
  left: 0;
  right: 0;
  transform: translate(100%, 20%);
}
.title__default {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__default h3 {
  font-weight: 700;
  font-size: var(--font-size-title);
  color: var(--blue-grey-900);
  line-height: 48px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.title__default p {
  font-weight: 400;
  color: var(--blue-grey-600);
  line-height: 22px;
  font-size: var(--font-size-text);
  width: 30%;
  margin-bottom: 0;
  text-align: center;
}
.service__content, .team__content{
  padding: 80px 0 43px 0;
}

.service__img {
  width: 100%;
  padding: 76px 0;
}
.service__img .img__default {
  width: 35%;
  padding-bottom: 36%;
}
.service__title {
  padding: 0 32px 32px;
}
.service__title a:hover h3 {
  color: var(--theme-primary);
  text-decoration: none;
}
.service__title a h3 {
  font-size: var(--font-size-title-2);
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 27px;
  margin-bottom: 20px;
  color: var(--blue-grey-600);
}
.service__title p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: var(--font-size-text);
  color: var(--blue-grey-600);
  font-weight: 400;
}
.service__title a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--theme-primary);
}
.service__title a:hover {
  color: var(--primary);
}
/*service-slide-center-active*/

#service__slide .owl-item > div {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s ease;
}
#service__slide .owl-item.center > div {
  cursor: auto;
  transform: scale(1.1);
}
/* .owl-item:not(.center) > div:hover {
    opacity: .75;
  } */
#service__slide .owl-item > div .service__item {
  background: linear-gradient(
    155.83deg,
    rgba(243, 243, 243, 0.4) 12.69%,
    #ffffff 126.81%
  );
  border: 2px solid #ffffff;
  backdrop-filter: blur(71.1602px);
  border-radius: 40px;
}
#service__slide .owl-item.center > div .service__item {
  background: linear-gradient(
    155.8deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  border: 2px solid #ffffff;
  backdrop-filter: blur(71.1602px);
  border-radius: 40px;
}
#service__slide .owl-item:not(.center) > div:hover .service__item {
  background: linear-gradient(
    155.8deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  backdrop-filter: blur(20px);
}
.owl-carousel .owl-stage-outer {
  padding: 30px 0;
}
/*Project*/
.project, .contact {
  padding-top: 70px;
  padding-bottom: 85px;
  position: relative;
}
.project::before {
  content: url(../images/vector1.png);
  position: absolute;
  width: 86.65px;
  height: 29px;
  left: 10%;
  top: 20%;
}
.project::after {
  content: url(../images/vector2.png);
  position: absolute;
  width: 86.65px;
  height: 29px;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.list__project::before {
  content: "";
  position: absolute;
  width: 715px;
  height: 715px;
  left: 0;
  bottom: 0;
  transform: translateX(-50%);

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 176, 7, 0.25) 0%,
    rgba(255, 176, 7, 0) 100%
  );
  filter: blur(100px);
  z-index: 1;
}
.list__project::after {
  content: "";
  position: absolute;
  width: 715px;
  height: 715px;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(7, 62, 255, 0.25) 0%,
    rgba(7, 77, 255, 0) 100%
  );
  filter: blur(100px);
  z-index: 1;
}
.our__projects {
  padding-top: 78px;
}
.list__project {
  position: relative;
  background: linear-gradient(
    137.73deg,
    rgba(255, 255, 255, 0) 4.16%,
    #ffffff 102.02%
  );
  border-radius: 27px;
  border: 2px solid #ffffff;
  padding: 23px 23px 0;
  z-index: 2;
}

.heigh .img__default {
  padding-bottom: 120% !important;
}
.item__product {
  position: relative;
  z-index: 6;
}
.item__product .product__item {
  border-radius: 10.55px;
  margin-bottom: 23px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.item__product:hover .product__item {
  transform: rotateY(180deg);
  transition: all 0.5s ease;
}
.item__product:hover .product__item .img__default {
  z-index: -1;
}
.product__item .img__default {
  backface-visibility: hidden;
  padding-bottom: 55%;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 0.2s ease;
  border-radius: 10.55px;
}
.product__item .backgroud__behind {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    155.8deg,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 2px solid #ffffff;
  padding: 24px 24px 0;
  backdrop-filter: blur(100px);
  border-radius: 10.55px;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.2s ease;
}
.item__product:hover .product__item.backgroud__behind {
  z-index: 4;
}
.see-more {
  margin-top: 52.71px;
}
.see-more a {
  background-color: transparent;
  border: 2px solid var(--primary);
  padding: 9px 17px;
  border-radius: 4.8px;
  text-decoration: none;
  font-size: var(--font-size-text);
  font-weight: 700;
  content: var(--theme-primary);
}
.see-more a:hover {
  color: var(--primary);
}
.backgroud__behind a h3 {
  font-size: var(--font-size-title-2);
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 27px;
  margin-bottom: 10px;
  color: var(--blue-grey-600);
}
.backgroud__behind a:hover h3 {
  color: var(--primary);
}
.backgroud__behind p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: var(--font-size-text);
  color: var(--blue-grey-600);
  font-weight: 400;
  margin-bottom: 5px;
}
.backgroud__behind a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--theme-primary);
}
.backgroud__behind a:hover {
  color: var(--primary);
}
.heigh .backgroud__behind p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: var(--font-size-text);
  color: var(--blue-grey-600);
  font-weight: 400;
  margin-bottom: 5px;
}
/*team*/
.team::before {
  content: "";
  position: absolute;
  width: 715px;
  height: 715px;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 176, 7, 0.25) 0%,
    rgba(255, 176, 7, 0) 100%
  );
  filter: blur(254px);
}
.team::after {
  content: '';
  position: absolute;
  width: 270px;
  height: 270px;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  transform: translate(-50%, -10%);
  background: linear-gradient(180deg, #c1fff4 0%, rgba(193, 255, 244, 0) 100%);
  filter: blur(5px);
}
#team__slide .owl-item .item .img__default{
  padding-bottom: 130%;
  width: 100%;
  border: 2px solid #ffffff;
}
#team__slide .owl-item > div {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s ease;
}
#team__slide .owl-item.center > div {
  cursor: auto;
  transform: scale(1.1);
}
#team__slide .owl-item > div{
  opacity: .8;
  transition: all .5s ease;
}
#team__slide .owl-item.center > div{
  opacity: 1;
  transition: all .5s ease;
}
#team__slide .owl-item:not(.center) > div:hover{
  opacity: 1;
}
#team__slide .owl-item > div .descriptions{
  opacity: 0;
  transition: all .5s ease;
  margin-top: 56px;
}
#team__slide .owl-item > div .descriptions h3{
  color: rgba(36, 42, 51, 1);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 0;
  text-align: center;
}
#team__slide .owl-item > div .descriptions p{
  color: var(--blue-grey-500);
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 140%;
  text-align: center;
  margin-bottom: 0;
}
#team__slide .owl-item.center > div .descriptions{
  opacity: 1;
}
#team__slide .owl-item:nth-child(4n+4) div .team__img .img__default{
  border-radius: 98px 50px 29.5px 29.5px !important;
}
.team__img{
  position: relative;
}
#team__slide .owl-item:nth-child(4n+4) div .team__img::before, #team__slide .owl-item:nth-child(4n+2) div .team__img::before{
  content: '';
  border-radius: 98px 50px 29.5px 29.5px;
  position: absolute;
  background: linear-gradient(180deg, rgba(78, 146, 249, 0) 0%, rgba(0, 102, 255, 0.4) 100%);
  right: -20px;
  bottom: -20px;
  width: 100%;
  height: 100%;
}
#team__slide .owl-item:nth-child(4n+3) div .team__img .img__default{
  border-radius: 50px 98px 29.5px 29.5px !important;
}
#team__slide .owl-item:nth-child(4n+3) div .team__img::before{
  border-radius: 50px 98px 29.5px 29.5px !important;
}
#team__slide .owl-item:nth-child(4n+2) div  .img__default{
  border-radius:50px 29.5px 29.5px 98px !important;
}
#team__slide .owl-item:nth-child(4n+2) div .team__img::before{
  border-radius:50px 29.5px 29.5px 98px !important;
}
#team__slide .owl-item:nth-child(4n+1) div  .img__default{
  border-radius: 50px 29.5px  98px  29.5px !important;
}
#team__slide .owl-item:nth-child(4n+1) div .team__img::before, #team__slide .owl-item:nth-child(4n+3) div .team__img::before {
  content: '';
  border-radius: 50px 29.5px  98px  29.5px;
  position: absolute;
  background: linear-gradient(180deg, rgba(130, 165, 219, 0) 0%, rgba(0, 255, 194, 0.3) 100%);
  left: -20px;
  bottom: -20px;
  width: 100%;
  height: 100%;
}