@media (min-width: 1920px){
    .container{
        max-width: 1140px;
    }
}
@media (max-width: 1400px){
    .container{
        max-width: 1140px;
    }
    .project::before{
        left: 5%;
    }
    .project::after{
        right: 5%;
    }

}
@media (max-width: 969px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding: 10px;
    }
}